<form class="container" ng-submit="$ctrl.signup($ctrl.user)">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Register </h1>
      <div uib-alert close="$ctrl.closeAlert()" ng-show="!$ctrl.passMatch" class="alert alert-danger" role="alert">
        <p> Password's don't match </p>
      </div>
      <div class="form-group">
        <label class="control-label" for="name-input">Name </label>
        <input class="form-control" type="text" name="name-input" ng-model="$ctrl.user.name">
      </div>
      <div class="form-group">
        <label class="control-label" for="email-input">Email </label>
        <input class="form-control" type="email" name="email-input" id="email-input" ng-model="$ctrl.user.email">
      </div>
      <div class="form-group animated" ng-class="{'shake': !$ctrl.passMatch}">
        <label class="control-label" for="password-input">Password </label>
        <input class="form-control" type="password" name="password-input" ng-model="$ctrl.user.password">
      </div>
      <div class="form-group animated" ng-class="{'shake': !$ctrl.passMatch}">
        <label class="control-label" for="repassword-input">Verify Password </label>
        <input class="form-control" type="password" name="repassword-input" ng-model="$ctrl.user.verifyPass">
      </div>
      <button class="btn btn-danger" style="border-radius:30px" type="submit">Submit</button>
    </div>
  </div>
</form>
