<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>submit</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
  <form class="bootstrap-form-with-validation">
    <h1 class="text-center">Submit Project</h1>
    <div class="form-group has-success has-feedback">
      <label class="control-label" for="text-input">Name </label>
      <input class="form-control" type="text" name="text-input" required="" id="text-input"><i class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></i></div>
    <div class="form-group has-error has-feedback">
      <label class="control-label" for="email-input">Email </label>
      <input class="form-control" type="email" name="email-input" id="email-input"><i class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></i></div>
    <div class="form-group has-error has-feedback"><i class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></i></div>
    <div class="form-group has-error has-feedback">
      <label class="control-label" for="search-input">Search Input Group</label>
      <div class="input-group">
        <div class="input-group-addon"><span> <i class="glyphicon glyphicon-search"></i></span></div>
        <input class="form-control" type="search" name="search" id="search-input">
      </div><i class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></i></div>
    <div class="form-group has-warning">
      <label class="control-label" for="file-input">File Input</label>
      <input type="file" name="file-input" id="file-input">
    </div>
    <div class="form-group has-success">
      <div class="checkbox">
        <label class="control-label">
                    <input type="checkbox" name="checkbox-input">I read the "small print"</label>
      </div>
    </div>
    <div class="form-group has-warning">
      <label class="control-label">small print</label>
      <p class="form-static-control">By checking this box you acknowledge that you are freely showing to the world your project made here at Code Fellows during your tenure. Also, you acknowledge you are proud of your work and will only implrove going forward.&nbsp;</p>
    </div>
    <div class="form-group has-warning"></div>
    <button class="btn btn-default active btn-lg" type="submit">Submit </button>
  </form>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>