@import 'vendor/normalize/_normalize';
@include normalize();
@import 'vendor/bootstrap/stylesheets/_bootstrap';
@import "vendor/font-awesome/scss/font-awesome.scss";
@import 'lib/_theme';
@import 'lib/_gallery';

body {
  font-family: "Montserrat";
}

.icon-bar {
  background-color: white;
}

.navbar-toogle {
  background-color: #cf3127;
}
//**Gallery page
h1 {
  text-align: center;
  color:$app-lightRed;
}

.userEmail {
  padding-right: 5px;
  padding-top: 5px;
}

.loginInfo {
  padding-top:15px;
  padding-bottom: 15px;
}

.portfolio-item {
    margin-bottom: 25px;
}

.readMore {
  color: $app-darkRed;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
   color: #fff;
   background-color: $app-lightRed;
   border-radius: 2px;
   }

.brand {
  float: left;
  font-size: 18px;
  line-height: 20px;
  height: 50px
}

.imgBrand {
  padding: 0px;
}

.project p {
  text-align: center;
  color: $app-darkRed;
}

button.btn.btn-default.navbar-btn {
  color: $app-white;
  background-color: $app-darkRed;
  border-radius: 2em;
  float: right;
  margin-right: .5em;
}

body {
  background-color: $app-seaFog;
}

nav.navbar.navbar-default {
  background-color: $app-darkBlack;
  color: $app-white;
  margin-top: .5em;
  padding: .5em;
}

a {
  color: $app-darkBlack;
}

img {
  max-width: 100%;
  padding: 1em;
  opacity: 1;
}

//**sign in page
@media (min-width:1200px) {
  form.bootstrap-form-with-validation {
    padding: 25em;
  }
}

@media (max-width:1199px) {
  form.bootstrap-form-with-validation {
    padding: 18em;
  }
}

@media (max-width:991px) {
  form.bootstrap-form-with-validation {
    padding: 10em;
  }
}

@media (max-width:767px) {
  form.bootstrap-form-with-validation {
    padding: 2em;
  }
}

form.bootstrap-form-with-validation {
  background-color: $app-white;
}

.btn-primary:focus,
.btn-primary:hover {
  background-color: $app-darkRed;
  border-radius: 2em;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
  color: $app-white;
  background-color: $app-darkRed;
  border-radius: 2em;
}

.btn-primary.active,
.btn-primary:active {
  background-color: $app-darkRed;
  border-color: $app-darkBlack;
}

.btn-primary:hover {
  color: $app-white;
  background-color: $app-darkRed;
  border-color: $app-darkBlack;
}

.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
  color: $app-white;
  background-color: $app-darkRed;
  border-color: $app-darkBlack;
}

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
  color: $app-white;
  background-color: $app-darkRed;
  border-radius: 2em;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {}


.h2,
.h3,

h2,
h3 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
  margin-bottom: 2em;
}

.form-group {
  margin-bottom: 30px;
}

//** Sign up page
@media (min-width:1200px) {
  form.bootstrap-form-with-validation {
    padding: 25em;
  }
}

@media (max-width:1199px) {
  form.bootstrap-form-with-validation {
    padding: 18em;
  }
}

@media (max-width:991px) {
  form.bootstrap-form-with-validation {
    padding: 10em;
  }
}

@media (max-width:767px) {
  form.bootstrap-form-with-validation {
    padding: 2em;
  }
}

form.bootstrap-form-with-validation {
  background-color: $app-white;
}

.btn-primary:focus,
.btn-primary:hover {
  background-color: $app-darkRed;
  border-radius: 2em;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
  color: $app-white;
  background-color: $app-darkRed;
  border-radius: 2em;
}

.btn-primary.active,
.btn-primary:active {
  background-color: $app-darkRed;
  border-color: $app-darkBlack;
}

.btn-primary:hover {
  color: $app-white;
  background-color: $app-darkRed;
  border-color: $app-darkBlack;
}

.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
  color: $app-white;
  background-color: $app-darkRed;
  border-color: $app-darkBlack;
}

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
  color: $app-white;
  background-color: $app-darkRed;
  border-radius: 2em;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {}


.h2,
.h3,
h2,
h3 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
  margin-bottom: 2em;
}

.form-group {
  margin-bottom: 30px;
}

//** Submit page
@media (min-width:1200px) {
  form.bootstrap-form-with-validation {
    padding: 25em;
  }
}

@media (max-width:1199px) {
  form.bootstrap-form-with-validation {
    padding: 18em;
  }
}

@media (max-width:991px) {
  form.bootstrap-form-with-validation {
    padding: 10em;
  }
}

@media (max-width:767px) {
  form.bootstrap-form-with-validation {
    padding: 2em;
  }
}

form.bootstrap-form-with-validation {
  background-color: $app-white;
}

.btn-primary:focus,
.btn-primary:hover {
  background-color: $app-darkRed;
  border-radius: 2em;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
  color: $app-white;
  background-color: $app-darkRed;
  border-radius: 2em;
}

.btn-primary.active,
.btn-primary:active {
  background-color: $app-darkRed;
  border-color: $app-darkBlack;
}

.btn-primary:hover {
  color: $app-white;
  background-color: $app-darkRed;
  border-color: $app-darkBlack;
}

.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
  color: $app-white;
  background-color: $app-darkRed;
  border-color: $app-darkBlack;
}

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
  color: $app-white;
  background-color: $app-darkRed;
  border-radius: 2em;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {}

.h2,
.h3,
h2,
h3 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
  margin-bottom: 2em;
}

.form-group {
  margin-bottom: 30px;
}

//**Carousel page
h1 {
  text-align: center;
}

table.table {
  margin-top: 50px;
}

button.btn.btn-default.navbar-btn {
  float: right;
  border-radius: 2em;
  background-color: $app-darkRed;
  color: $app-white;
  margin-right: .5em;
}

.btn-default.active,
.btn-default:active {
  background-color: $app-darkRed;
  border-color: $app-white;
  margin-right: .5em;
}

nav.navbar.navbar-default {
  margin-top: .5em;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
  display: block;
  max-width: 100%;
  height: 40%;
}
